# Run secret-dependent integration tests for trusted sources
name: Integration Tests (Trusted)

on:
  push:
    branches: ["main", "renovate/**"]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    if: |
      github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository ||
      github.event_name == 'push' && (github.event.ref == 'refs/heads/main' || startsWith(github.event.ref, 'refs/heads/renovate'))
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::520156417308:role/github-action-auth-Role-MJSGfkUydl2D

      - name: Integration Test
        run: make test_integration
