name: Generate SQS Interface

on:
  push:
    branches: [ "renovate/**aws-sdk-go-v2-service-sqs*" ]
    paths: [ "go.mod" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v6
      with:
        token: ${{ secrets.GH_TOKEN }}

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.26'

    - name: Install Dependancies
      run: make setup

    - name: Generate SQS Interface
      run: make generate_sqs

    - name: Commit Change
      uses: stefanzweifel/git-auto-commit-action@v7
      with:
        commit_user_name: co-go
        commit_user_email: jcorley.w@gmail.com
        commit_author: co-go <jcorley.w@gmail.com>
        commit_message: "chore: regenerate sqs interface"
